<div class="admin-dashboard">
  <mat-toolbar color="primary">Admin Dashboard</mat-toolbar>

  <div class="dashboard-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Number of Users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{ numberOfUsers }}</h2>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Number of Projects</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{ numberOfProjects }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>
